:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  position: sticky;
  top: 0;
  box-shadow: 0 0.1rem 1rem 0 #595959;
  z-index: 1;
}

.main {
  flex-grow: 1;

  &__breadcrumbs-container {
    margin-bottom: 2rem;
  }
}

.content-container {
  margin: 0 auto;
  padding: 1rem;
  height: 100%;
  max-width: 1280px;
}
