:host {
  display: block;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 2rem;
}

.form {
  display: grid;
  grid-template-areas: 'content' 'option';
  gap: 3rem;

  &__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__radio-container {
    display: flex;
    gap: 2rem;
  }

  &__radio {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  &__textarea {
    width: 100%;
    resize: none;
  }

  &__slider-label-container {
    flex-basis: 30%;
    display: flex;
  }

  &__slider {
    flex-grow: 1;
  }

  @media screen and (min-width: 1024px) {
    grid-template-areas: 'content option';
  }
}

.questions-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  &__form {
    display: flex;
    gap: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  }
}
