.form {
  gap: 2rem;

  &__fields {
    display: flex;
    gap: 3rem;
  }

  &__field {
    width: 100%;

    &--radio,
    &--slider {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &--slider {
      gap: 0.7rem;
    }

    &--checkbox {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;

      & label {
        flex-grow: 1;
      }
    }
  }

  &__content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__radio-container {
    display: flex;
    gap: 1rem;
  }

  &__radio {
    display: flex;
    gap: 0.5rem;
  }
}
