<form [formGroup]="form" (ngSubmit)="handleSubmitForm()">
  <header class="header">
    <p-button type="button" styleClass="p-button-secondary" [label]="'BUTTON.CANCEL' | translate" (click)="goBack()" />
    <p-button
      type="submit"
      [label]="'BUTTON.SAVE' | translate"
      [loading]="(addCallState$ | async) === loadingState.LOADING" />
  </header>
  <section class="form">
    <div class="form__container">
      <app-form-input-text
        formControlName="name"
        placeholder="FORM.NAME"
        [maxLength]="nameMaxLength"
        [hintVisible]="true">
        <small hint>{{ form.controls.name.value.length }}/{{ nameMaxLength }}</small>
      </app-form-input-text>
      <app-form-input-textarea formControlName="content" placeholder="FORM.CONTENT" [hintVisible]="true">
        <small hint>{{ form.controls.content.value.length }}/{{ descriptionMaxLength }}</small>
      </app-form-input-textarea>
    </div>
    <div class="form__container">
      <div class="form__field form__field--radio">
        <p>{{ 'FORM.EXP_LEVEL' | translate }}</p>
        <div class="form__radio-container">
          <div *ngFor="let expLevel of expLevelList" class="form__radio">
            <p-radioButton formControlName="expLevel" [inputId]="expLevel" [value]="expLevel" />
            <label [for]="expLevel">{{ expLevel }}</label>
          </div>
        </div>
      </div>
      <div class="form__field form__field--slider">
        <p>{{ 'FORM.TIME_LIMIT' | translate: { value: form.controls.timeLimit.value } }}</p>
        <p-slider class="form__slider" formControlName="timeLimit" [min]="10" [max]="600" [step]="10" />
      </div>
      <div class="form__field form__field--slider">
        <p>{{ 'FORM.POINTS' | translate: { value: form.controls.maxPoints.value } }}</p>
        <p-slider class="form__slider" formControlName="maxPoints" [min]="1" [max]="10" />
      </div>
    </div>
    <div formArrayName="answers" class="form__answers-container">
      <p>{{ 'FORM.ANSWER_LIST' | translate }}:</p>
      <div *ngFor="let answer of form.controls.answers.controls; let idx = index" class="form__answer">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
            <p-checkbox [formControl]="answer.controls.isCorrect" [binary]="true" />
          </span>
          <input
            type="text"
            pInputText
            placeholder="Username"
            [formControl]="answer.controls.content"
            [placeholder]="'FORM.ANSWER_CONTENT' | translate" />
        </div>
        <p-button
          styleClass="p-button-danger"
          icon="pi pi-trash"
          [disabled]="preventRemoveAnswer"
          (onClick)="handleRemoveAnswer(idx)" />
      </div>
      <p-button
        styleClass="p-button-help"
        icon="pi pi-plus"
        [disabled]="preventAddAnswer"
        (onClick)="handleAddAnswer()" />
    </div>
  </section>
</form>
