<form [formGroup]="form" (ngSubmit)="handleSubmitForm()">
  <header class="header">
    <p-button type="button" styleClass="p-button-secondary" [label]="'BUTTON.CANCEL' | translate" (click)="goBack()" />
    <p-button type="submit" [label]="'BUTTON.SAVE' | translate" />
  </header>
  <section class="form">
    <div class="form__container">
      <div class="form__field">
        <input
          type="text"
          pInputText
          formControlName="name"
          [style]="{ width: '100%' }"
          [placeholder]="'FORM.NAME' | translate" />
      </div>
      <div class="form__field form__field--textarea">
        <textarea
          rows="10"
          pInputTextarea
          formControlName="content"
          class="form__textarea"
          [placeholder]="'FORM.CONTENT' | translate"></textarea>
      </div>
    </div>
    <div class="form__container">
      <div class="form__field">
        <div class="form__slider-label-container">
          <p>{{ 'FORM.EXP_LEVEL' | translate }}</p>
        </div>
        <div class="form__radio-container">
          <div *ngFor="let expLevel of expLevelList" class="form__radio">
            <p-radioButton formControlName="expLevel" [inputId]="expLevel" [value]="expLevel" />
            <label [for]="expLevel">{{ expLevel }}</label>
          </div>
        </div>
      </div>
      <div class="form__field">
        <div class="form__slider-label-container">
          <p>{{ 'FORM.TIME_LIMIT' | translate: { value: form.controls.timeLimit.value } }}</p>
        </div>
        <p-slider class="form__slider" formControlName="timeLimit" [min]="10" [max]="600" [step]="10" />
      </div>
      <div class="form__field">
        <div class="form__slider-label-container">
          <p>{{ 'FORM.POINTS' | translate: { value: form.controls.maxPoints.value } }}</p>
        </div>
        <p-slider class="form__slider" formControlName="maxPoints" [min]="1" [max]="10" />
      </div>
    </div>
  </section>
</form>
