<form class="form" [formGroup]="form">
  <ng-container *ngrxLet="form.controls.commonGroup as commonGroup">
    <div *ngIf="activeStepsIdx === 0" formGroupName="commonGroup" class="form__group">
      <div class="form__fields">
        <div class="form__field">
          <input
            type="text"
            pInputText
            formControlName="name"
            tooltipPosition="top"
            [style]="{ width: '100%' }"
            [placeholder]="'FORM.NAME' | translate"
            [pTooltip]="'FORM.NAME_TOOLTIP' | translate" />
          <ng-container *ngIf="commonGroup.controls.name.touched">
            <p-message *ngIf="commonGroup.controls.name.valid" severity="success" />
            <p-message *ngIf="commonGroup.controls.name.invalid" severity="error" />
          </ng-container>
        </div>
        <div class="form__field">
          <input
            type="text"
            pInputText
            formControlName="surname"
            tooltipPosition="top"
            [style]="{ width: '100%' }"
            [placeholder]="'FORM.SURNAME' | translate"
            [pTooltip]="'FORM.SURNAME_TOOLTIP' | translate" />
          <ng-container *ngIf="commonGroup.controls.surname.touched">
            <p-message *ngIf="commonGroup.controls.surname.valid" severity="success" />
            <p-message *ngIf="commonGroup.controls.surname.invalid" severity="error" />
          </ng-container>
        </div>
      </div>
      <div class="form__fields">
        <div class="form__field">
          <input
            type="text"
            pInputText
            formControlName="email"
            tooltipPosition="top"
            [style]="{ width: '100%' }"
            [placeholder]="'FORM.EMAIL' | translate"
            [pTooltip]="'FORM.EMAIL_TOOLTIP' | translate" />
          <ng-container *ngIf="commonGroup.controls.email.touched">
            <p-message *ngIf="commonGroup.controls.email.valid" severity="success" />
            <p-message *ngIf="commonGroup.controls.email.invalid" severity="error" />
          </ng-container>
        </div>
        <div class="form__field">
          <p-password
            class="form__password"
            formControlName="password"
            tooltipPosition="top"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
            [toggleMask]="true"
            [feedback]="false"
            [placeholder]="'FORM.PASSWORD' | translate"
            [pTooltip]="'FORM.PASSWORD_TOOLTIP' | translate" />
          <ng-container *ngIf="commonGroup.controls.password.touched">
            <p-message *ngIf="commonGroup.controls.password.valid" severity="success" />
            <p-message *ngIf="commonGroup.controls.password.invalid" severity="error" />
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>

  <div *ngIf="activeStepsIdx === 1" formGroupName="dataGroup" class="form__group">Form 2</div>
</form>
