<form class="form" [formGroup]="form">
  <ng-container *ngrxLet="form.controls.commonGroup as commonGroup">
    <div *ngIf="activeStepsIdx === 0" formGroupName="commonGroup" class="form__group">
      <div class="form__fields">
        <app-form-input-text class="form__field" formControlName="firstName" placeholder="FORM.FIRST_NAME" />
        <app-form-input-text class="form__field" formControlName="lastName" placeholder="FORM.LAST_NAME" />
      </div>
      <div class="form__fields">
        <app-form-input-text class="form__field" formControlName="email" placeholder="FORM.EMAIL" />
        <app-form-input-password class="form__field" formControlName="password" placeholder="FORM.PASSWORD" />
      </div>
    </div>
  </ng-container>

  <div *ngIf="activeStepsIdx === 1" formGroupName="dataGroup" class="form__group">Form 2</div>

  <div *ngIf="activeStepsIdx === 2" formGroupName="dataGroup" class="form__group">Form 3</div>
</form>
