:host {
  display: block;
  animation: show-from-top 0.5s both;
}

.card {
  &__footer-btns {
    display: flex;
    justify-content: space-between;
  }

  &__footer-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
