<p-card
  class="card"
  [header]="'AUTH.SIGN_UP.HEADER' | translate: { appName }"
  [subheader]="'AUTH.SIGN_UP.SUBHEADER' | translate"
  [style]="{
    maxWidth: '90vw',
    width: '1000px'
  }">
  <p-steps
    [model]="stepsItems | signUpStepsItemsTranslate"
    [readonly]="false"
    [activeIndex]="activeStepsIdx"
    (activeIndexChange)="onActiveIdxChange($event)" />

  <app-sign-up-form [form]="form" [activeStepsIdx]="activeStepsIdx" />

  <ng-template pTemplate="footer">
    <div class="card__footer">
      <div class="card__footer-btns">
        <p-button
          icon="pi pi-angle-left"
          class="card__btn"
          [label]="'BUTTON.BACKWARD' | translate | uppercase"
          [disabled]="activeStepsIdx === 0"
          (click)="handleBackwardFormBtn()" />
        <p-button
          *ngIf="activeStepsIdx !== stepsItems.length - 1; else submitBtn"
          icon="pi pi-angle-right"
          iconPos="right"
          class="card__btn"
          [label]="'BUTTON.NEXT' | translate | uppercase"
          (click)="handleNextFormBtn()" />
      </div>
      <ng-template #submitBtn>
        <p-button class="card__btn" [label]="'BUTTON.REGISTER' | translate | uppercase" (click)="handleSubmitForm()" />
      </ng-template>
      <p-divider />
      <p class="card__footer-text">
        {{ 'AUTH.LOGIN_INFO' | translate }}
        <p-button styleClass="p-button-link" [label]="'AUTH.LOGIN' | translate" (click)="handleLoginRouting()" />
      </p>
    </div>
  </ng-template>
</p-card>
