:host {
  display: block;
  animation: show-from-top 0.5s both;
}

.card {
  &__footer-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__password {
    width: 100%;
  }
}
