<p-card
  class="card"
  [header]="'AUTH.SIGN_IN.HEADER' | translate: { appName }"
  [subheader]="'AUTH.SIGN_IN.SUBHEADER' | translate"
  [style]="{
    maxWidth: '90vw',
    width: '500px'
  }">
  <form class="form" [formGroup]="form">
    <app-form-input-text class="form__field" formControlName="email" placeholder="FORM.EMAIL" [hintVisible]="true" />
    <div class="form__field">
      <p-password
        class="form__password"
        formControlName="password"
        tooltipPosition="top"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        [toggleMask]="true"
        [feedback]="false"
        [placeholder]="'FORM.PASSWORD' | translate"
        [pTooltip]="'FORM.PASSWORD_TOOLTIP' | translate" />
      <ng-container *ngIf="form.controls.password.touched">
        <p-message *ngIf="form.controls.password.valid" severity="success" />
        <p-message *ngIf="form.controls.password.invalid" severity="error" />
      </ng-container>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="card__footer">
      <p-button
        [label]="'BUTTON.LOGIN' | translate | uppercase"
        [loading]="(loginCallState$ | async) === loadingState.LOADING"
        (click)="handleSubmitForm()" />
      <p-divider />
      <p class="card__footer-text">
        {{ 'AUTH.REGISTER_INFO' | translate }}
        <p-button styleClass="p-button-link" [label]="'AUTH.REGISTER' | translate" (click)="handleRegisterRouting()" />
      </p>
    </div>
  </ng-template>
</p-card>
