<p-card
  class="card"
  [header]="'AUTH.SIGN_IN.HEADER' | translate: { appName }"
  [subheader]="'AUTH.SIGN_IN.SUBHEADER' | translate"
  [style]="{
    maxWidth: '90vw',
    width: '500px'
  }">
  <form [formGroup]="form" class="form">
    <div class="form__field">
      <input
        [style]="{ width: '100%' }"
        type="text"
        pInputText
        formControlName="email"
        [placeholder]="'FORM.EMAIL' | translate"
        [pTooltip]="'FORM.EMAIL_TOOLTIP' | translate"
        tooltipPosition="top" />
      <ng-container *ngIf="form.controls.email.touched">
        <p-message *ngIf="form.controls.email.valid" severity="success" />
        <p-message *ngIf="form.controls.email.invalid" severity="error" />
      </ng-container>
    </div>

    <div class="form__field">
      <p-password
        class="form__password"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
        formControlName="password"
        [toggleMask]="true"
        [feedback]="false"
        [placeholder]="'FORM.PASSWORD' | translate"
        [pTooltip]="'FORM.PASSWORD_TOOLTIP' | translate"
        tooltipPosition="top" />
      <ng-container *ngIf="form.controls.password.touched">
        <p-message *ngIf="form.controls.password.valid" severity="success" />
        <p-message *ngIf="form.controls.password.invalid" severity="error" />
      </ng-container>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="card__footer">
      <p-button
        [label]="'BUTTON.LOGIN' | translate | uppercase"
        (click)="handleSubmitForm()" />
      <p-divider />
      <p class="card__footer-text">
        {{ 'AUTH.REGISTER_INFO' | translate }}
        <p-button
          [label]="'AUTH.REGISTER' | translate"
          styleClass="p-button-link"
          (click)="handleRegisterRouting()" />
      </p>
    </div>
  </ng-template>
</p-card>
