:host {
  display: block;
}

.card {
  &__footer-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__field {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__password {
    width: 100%;
  }
}
