:root {
  --color-entry: #8aeeff;
  --color-junior: #2faf00;
  --color-mid: #ffb200;
  --color-senior: #ff0303;
}

.entry {
  background-color: #8aeeff;
}

.junior {
  background-color: #2faf00;
}

.mid {
  background-color: #ffb200;
}

.senior {
  background-color: #ff0303;
}

.color-required {
  color: #ff0000ff;
}
